<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Poly'Escape{% endblock %}</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('global.css') }}" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            
            {% if app.user is not null %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    {% if "ROLE_TEACHER" in app.user.getRoles() %}
                    <a class="navbar-brand" href="/enseignant">
                        <img src={{ asset('logoprojet.png') }} width="30" height="30" class="d-inline-block align-top" alt="">
                        Poly'Escape
                    </a>
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {{ activeDM | default("") }}">
                                <a class="nav-link" href="/enseignant/creationDM">Création de devoirs</a>
                            </li>

                            <li class="nav-item dropdown {{ activeGestion | default("") }}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gestion
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/enseignant/eleve/gestion">Etudiant</a>
                                    <a class="dropdown-item" href="/enseignant/groupe/remove">Groupe</a>
                                    <a class="dropdown-item" href="/enseignant/matiere/gestion">Matiere</a>
                                </div>
                            </li>
                        <li class="nav-item dropdown {{ activePerso | default("") }}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Personnalisation
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/enseignant/objets">Gestion des objets</a>
                                    <a class="dropdown-item" href="/enseignant/piece">Gestion des salles</a>
                                    <a class="dropdown-item" href="/enseignant/enigme/gestion">Gestion des énigmes</a>
                                </div>
                            </li>

                            

                        </ul>
                    </div>

                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item {{ activeMDP | default("") }}">
                                <a class="nav-link" href="/enseignant/changerMDP">Profil</a>
                            </li>

                            <span class="navbar-text">
                                | ID : {{ app.user.getIdpers().getNom() }} |
                            </span>
                                        
                            <a class="nav-link" href="/enseignant/logout">
                                <img src={{ asset('icons/_ionicons_svg_md-log-out.svg') }} class="d-inline-block align-top" width="30" height="30" alt="">
                            </a>                      
                        </ul>
                    </div>
                                
                    {% elseif "ROLE_STUDENT" in app.user.getRoles() %}
                    <a class="navbar-brand" href="/etudiant">
                        <img src={{ asset('logoprojet.png') }} width="30" height="30" class="d-inline-block align-top" alt="">
                        Poly'Escape
                    </a>
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item {{ activeProfil | default("") }}">
                                <a class="nav-link" href="/etudiant/profil">Profil</a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item {{ activeMDP | default("") }}">
                                <a class="nav-link" href="/etudiant/changerMDP">Modifier mon mot de passe</a>
                            </li>

                            <span class="navbar-text">
                                | ID : {{ app.user.getIdpers().getNom() }} |          
                            </span>  
                            <a class="nav-link" href="/etudiant/logout">
                                <img src={{ asset('icons/_ionicons_svg_md-log-out.svg') }} class="d-inline-block align-top" width="30" height="30" alt="">
                            </a>                      
                        </ul>
                    </div>
                    {% endif %}
            {% else %}
                <a class="navbar-brand" href="/">
                    <img src={{ asset('logoprojet.png') }} width="30" height="30" class="d-inline-block align-top" alt="">
                    Poly'Escape
                </a>
            {% endif %}  
        </nav>
        <div id="main" class="container theme-showcase" role="main">
        {% block main %}{% endblock %}
        </div >
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
