{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block main %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/objet.css' }}"/>
{% endblock %}

{{ form_start(form2) }}
<div class=" marge flex">
    <div class="card marge background flexcol">
        <div class="card-header separation">Modifier votre piece</div>
            <div class="card-body text-primary">
            <div class="form-row">
                <div class="form-group boite2">
                <label>Nom</label>
                {{ form_widget(form2.nomsalle) }}
                </div>
                <div class="form-group boite2">
                <label>description</label>
                {{ form_widget(form2.descriptsalle) }}
                </div>
            </div>
            <div class="bouton">
                {{ form_widget(form2.modif) }}
                {{ form_end(form2) }}
            </div>
        </div>
    </div>

    <div class="card marge background flexcol">
        <div class="card-header separation">Supprimer des objets liés</div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column marge">
                {% if lsObj|length > 0 %}
                <center>
                    <div id="tab">
                        {{ form_start(form) }}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nom de l'objet</th>
                                            <th scope="col">Selectionner</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% set id = -1 %}
                                        {% for child in form.idobjet %}
                                        {% set id = id + 1 %}   
                                            <tr>
                                                <th scope="row">{{ lsObj[id].idobjet }}</th>
                                                <td>{{ lsObj[id].nomobjet }}</td>
                                                <td>{{ form_widget(child) }}</td>
                                            </tr>
                                            
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {{ form_widget(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </center>
                {% else %}
                <h1>Vous n'avez aucun objets</h1>
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-column marge">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/enseignant/piece/addObject/{{ mid }}'">Ajouter un objet à votre piece</button>
            {% if access %}
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/enseignant/piece/addCadena/{{ mid }}'">Ajouter un cadena à votre piece</button>
            {% else %}
            <button type="button" class="btn btn-danger btn-lg btn-block" onclick="location.href='/enseignant/piece/suppCadena/{{ mid }}'">Supprimer le cadena de votre piece</button>
            {% endif %}
        </div>

        {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
        {% endfor %}

        {% for msg in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
