{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main %}

{% if lsobjet|length > 0 %}
    <div class="card-columns">
    {% for objet in lsobjet %}
    <div class="card text-white bg-dark">
    {% if objet.getImageobjet is not null %}
        <img class="card-img-top" src={{ asset('picsStorage/objets/'~objet.getImageobjet) }} alt="Card image cap" width = 300px height = 300px>
    {% else %}
        <img class="card-img-top" src={{ asset('enseignant/img/objectview.png') }} alt="Card image cap">
    {% endif %}
        <div class="card-body">
        <a href="/enseignant/objets/see/{{ objet.getIdobjet }}">
            <h5 class="card-title">{{ objet.getNomobjet }}</h5>
        </a>
        <p class="card-text">{{ objet.getType }}</p>
        <button type="button" class="btn btn-dark btn-lg btn-block" onclick="location.href='/enseignant/objets/update/{{ objet.idobjet }}'">Modifier l'objet</button>
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
  <h1>Aucun objet !</h1>
{% endif %}
{% endblock %}
