


.matiere {
  border-radius: 10px;
  background-color: #040404cc;
  color: white;
  margin: 20px;
  padding: 20px;
  width: 200px;
  max-height: 200px;
}

h1{
  text-align: center;
  Font-Weight: Bold;
  color: white;
}

.tag{
  display: inline-block;
  border-radius: 100%;
  background-color: green;
  height: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
  margin-right: 0px;
}

.tag2{
  display: inline-block;
  border-radius: 100%;
  background-color: #FF5D00;
  height: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
}

.tag3{
  display: inline-block;
  border-radius: 100%;
  background-color: red;
  height: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
}

.tag4{
  display: inline-block;
  border-radius: 100%;
  background-color: #008FFF;
  height: 30px;
  margin-left: 10px;
  margin-bottom: -10px;
}


.diabled {
  pointer-events: none;
  cursor: default;
  background-color:rgba(192,192,192, 0.7);
  border-color:rgba(192,192,192, 0.7);
}
#Fermer{
color:red;
}