

.matiere {
  border-radius: 10px;
  background-color: #040404cc;
  color: white;
  margin: 20px;
  padding: 20px;
  width: 200px;
  max-height: 225px;
}

h1{
  text-align: center;
  Font-Weight: Bold;
  color: white;
}

.tag{
  display: inline-block;
  border-radius: 100%;
  background-color: green;
  height: 30px;
  margin-left: 100px;
  margin-bottom: -10px;
  margin-right: 0px;
}

.tag2{
  display: inline-block;
  border-radius: 100%;
  background-color: orange;
  height: 30px;
  margin-left: 100px;
  margin-bottom: -10px;
}

.tag3{
  display: inline-block;
  border-radius: 100%;
  background-color: red;
  height: 30px;
  margin-left: 100px;
  margin-bottom: -10px;
}

#tableauDevoirs{
  height: 50em;
  max-height: 50em;
  overflow: auto;
  width: 120%;
}