{% extends 'base.html.twig' %}

{% block title %}Gestion des groupes{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
<link rel="stylesheet" href="{{ asset('enseignant/design.css') }}" />
<link rel="stylesheet" href="{{ asset('css/gestionTab3.css') }}" />
{% endblock %}

{% block main %}
	{% for label, flashes in app.session.flashbag.all %}
    <div class="alert alert-success alert-dismissible fade show">
    <h4>Si les groupes ne sont pas supprimés c'est qu'ils sont  entrain de jouer à une partie </h4>
    {% for flash in flashes %}

			<p>{{ flash }}</p>

    {% endfor %}
     </div>
{% endfor %}

    <div id="tab">
    
    {{ form_start(form) }}
        
            <div class="table-responsive tab2">
            <table class="table table-hover">
                <thead>
                    <tr>
						<th scope="col">Selectionner</th>
                        <th scope="col" data-toggle="tooltip" title="Hooray!  b">Nom du groupe</th>
                        <th scope="col">Chef du groupe</th>
                        <th scope="col">Modification</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.groupe %}
                        {% set id = id + 1 %}
                        <tr>
							<td>{{ form_widget(child) }}</td>
                            <td>{{lsEtudiant[id].getNomgroupe}}</td>
                            <td>{{lsEtudiantsPush[lsEtudiant[id].getIdpush]}}</td>
                            <td><a href="/enseignant/groupe/update/{{lsEtudiant[id].getIdgr()}}" class="btn btn-secondary" > Modifier</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.save) }}
    <a href="/enseignant/add/group/" class="btn btn-secondary" id ="mm"> Ajouter un groupe</a>
    {{ form_end(form) }}
</div>


{% endblock %}
