{% extends 'base.html.twig' %}

{% block title %}Modification d'un groupe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/objet.css' }}"/>
{% endblock %}

{% block main %}
<div class="flex">
<div class="card background boite">
  <div class="card-header separation">Modifier les informations d'un groupe</div>
   <div class="card-body text-secondary">
       {{ form_start(form1) }}
			<div class="form-group row">
               <label for="form_nomvend">Nom du groupe</label>
               {{ form_widget(form1.nomgroupe) }}
           </div>
           <div class="form-group row">
               <label for="form_nomvend">Nom du chef du groupe</label>
               {{ form_widget(form1.idpush ) }}
           </div>
        {{ form_widget(form1.save) }}     
       {{ form_end(form1) }}
        </div>
    </div>
<div class="git background boite">
  <div class="card-header separation">Modifier la composition du groupe</div>
   <div class="card-body text-secondary">
       {{ form_start(form) }}
			<div class="form-group row">
               <label for="form_nomvend">Ajouter un étudiant</label>
                {{ form_widget(form.GroupePasEtudiant) }} 
				{{ form_widget(form.ajouter) }} 
           </div>
           <div class="form-group row">
               <label for="form_nomvend">Supprimer un étudiant</label>
               {{ form_widget(form.EtudiantGroupe) }}     
			   {{ form_widget(form.supprimer) }}
           </div>  
       {{ form_end(form) }}
        </div>
    </div>
    </div>
 <script>
	console.log("hello");
	document.getElementById("form_nomgroupe").value="{{groupe.getNomgroupe}}";
	var select = document.getElementById("form_idpush");
	console.log(select);
	for (let i = 0; i < select.length; i++) {
	if(select[i].value=={{groupe.getIdpush}}){
		select[i].selected="selected";
    }
    }
	var selectk = document.getElementById("form_EtudiantGroupe");
	console.log(selectk);
	for (let i = 0; i < selectk.length; i++) {
	if(selectk[i].value=={{groupe.getIdpush}}){
	console.log(selectk[i]);
		selectk[i].style.display="none";
    }
    }  


 </script>
    
{% endblock %}
