{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/etudiant'">Je suis un etudiant</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/enseignant'">Je suis un enseignant</button>

{% endblock %}
