.chooseGbl{
    display: flex;
    margin: 5px;
    width: 100%;
    
}

.chooseTab{
    
    flex-direction: column;
    margin: 5px;
    flex: 1 0 50%;    
}
.form{
    
    align-items: center;
    flex-direction: column;
    flex: 1 0 40%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #040404cc;
    height: 30%;
    
}

    .tab1{
        border-radius: 10px;
    background-color: #040404cc;
    color: white;
    margin: 30px;
    padding: 20px;
    
    display: block;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
    }
    .tab2{
        border-radius: 10px;
    background-color: #040404cc;
    color: white;
    margin: 30px;
    padding: 15px;
    
    display: block;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
    }

.uk-subnav {
    display: flex;
    /* 1 */
    flex-wrap: wrap;
    /* 2 */
    margin-left: -20px;
    /* 3 */
    padding: 0;
    list-style: none;
  }
  /*
   * 1. Space is allocated solely based on content dimensions: 0 0 auto
   * 2. Gutter
   * 3. Create position context for dropdowns
   */
  .uk-subnav > * {
    /* 1 */
    flex: none;
    /* 2 */
    padding-left: 20px;
    /* 3 */
    position: relative;
  }
  /* Items
   ========================================================================== */
  /*
   * Items must target `a` elements to exclude other elements (e.g. dropdowns)
   * Using `:first-child` instead of `a` to support `span` elements for text
   * 1. Prevent gap if child element is `inline-block`, e.g. an icon
   * 2. Style
   */
  .uk-subnav > * > :first-child {
    /* 1 */
    display: block;
    /* 2 */
    color: #999;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
  }
  /* Hover + Focus */
  .uk-subnav > * > a:hover,
  .uk-subnav > * > a:focus {
    color: #666;
    text-decoration: none;
    outline: none;
  }
  
  .uk-subnav-pill > * > :first-child {
    padding: 5px 10px;
    background: transparent;
    color: #999;
  }
  /* Hover + Focus */
  .uk-subnav-pill > * > a:hover,
  .uk-subnav-pill > * > a:focus {
    background-color: #f8f8f8;
    color: #666;
  }
  /* OnClick */
  .uk-subnav-pill > * > a:active {
    background-color: #f8f8f8;
    color: #666;
  }
  /* Active */
  .uk-subnav-pill > .uk-active > a {
    background-color: #1e87f0;
    color: #fff;
  }
  .uk-subnav > .uk-disabled > a {
    color: #999;
  }