#ajoutObjet
{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

#img
{
    flex: 1 1 40%;
    display: flex;
    flex-wrap: wrap;
}

#formulaire
{
    flex: 1 1 40%;
    display: flex;
    flex-wrap: wrap;
}