{% extends 'base.html.twig' %} {% block title %}Hello {{ controller_name }}!{% endblock %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{ '/enseignant.css' }}" /> 
{% endblock %} 
{% block main %}

<h1>Bienvenue {{ app.user.idpers.prenom }} </h1>


      <!-- Button trigger modal -->
		<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#info">
			Information code couleur
		</button>

<!-- Modal -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true"  style="color:black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="exampleModal" >Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      <div class="tag4 tag-blue col-1"> </div>
        <p>Le devoir n'est pas accessible pour les etudiants . </p>
        <p>Lancer : pour donner accès aux étudaints </p>
        <div class="tag tag-green col-1"> </div>
        <p>Le devoir est accessible pour les étudiants. Les étudiants sont entrain de faire ce devoir.</p>
        <div class="tag2 tag-orange col-1"> </div>
        <p>Le devoir n'est plus accessible pour les étudiants car la date de fin est dépassée. Vous pouvez modifier les notes. Vous pouvez modifier le devoir comme la date de fin.</p>
	      <div class="tag3 tag-red col-1"> </div>
	      <p>Le devoir n'est plus accessible pour les etudiants. Vous pouvez exporter les notes.</p>
      </div>
    </div>
  </div>
</div>


  <div class="d-flex flex-wrap" id="tableauDevoirs">
    {% for dm in listeDevoir %}
    
    <div class="matiere col-3">
      <h3> {{dm['nomdev']}} </h3>
      {% if dm['statut'] =="En cours" %}
		{% if dm['date'] <  "now"|date("Y-m-d") %}
			<p> En vérification...</p>
			<div class="tag2 tag-orange col-1"> </div>
		{% else %}
			<p> En cours jusqu'au {{ dm['date']}}</p>
			<div class="tag tag-green col-1"> </div>
		{% endif %}
	 {% elseif dm['statut'] =="En developpement"  %}
		<p> En attente de lancement </p>
		<div class="tag4 tag-blue col-1"> </div>
     {% else %}
      <p> Fini le {{ dm['date']}}</p>
      <div class="tag3 tag-red col-1"> </div>
      {% endif %}
      <!-- Button trigger modal -->
		<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal{{dm['iddev']}}">
			Voir
		</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{dm['iddev']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="color:black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="exampleModal" >{{dm['nomdev']}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Matiere : {{dm['nommat']}}</p>
       <p>Nombre de groupe : {{dm['nbpersonnegroupe']}}</p>
      </div>
      <div class="modal-footer">
      
		<a href="/enseignant/devoir/lancer/{{ dm["iddev"] }}" class="btn btn-secondary {{optionButon[dm['statut']][0]}}" >Lancer</a>
		{% if dm['date'] <  "now"|date("Y-m-d") and dm['statut'] =="En cours"%}
		<a href="/enseignant/statchanger/{{dm["iddev"] }}" class="btn btn-secondary " >Notes</a>
		<a href="/enseignant/devoir/update/{{ dm["iddev"] }}" class="btn btn-secondary" > Modifier</a>
		{% else %}
		<a href="/enseignant/stat/{{dm["iddev"] }}" class="btn btn-secondary {{optionButon[dm['statut']][2]}}" >Voir Notes</a>
		<a href="/enseignant/devoir/update/{{ dm["iddev"] }}" class="btn btn-secondary {{optionButon[dm['statut']][3]}}" >Modifier</a>
		{% endif %}
		
		
		<a href="/enseignant/devoir/infos/{{ dm["iddev"] }}" class="btn btn-secondary {{optionButon[dm['statut']][4]}}" > Détail</a>
		<button type="button" class="btn btn-secondary {{optionButon[dm['statut']][1]}}"  data-toggle="modal" data-target="#Fermer{{ dm["iddev"] }}">
		Fermer
		</button>
      </div>
    </div>
  </div>
</div>
     
<!-- Modal -->
<div class="modal fade" id="Fermer{{ dm["iddev"] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Fermer">ATTENTION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vos étudiants ne pourront plus jamais jouer à ce devoir . Ok pour valider
      </div>
      <div class="modal-footer">
		<a href="/enseignant/devoir/delete/{{ dm["iddev"] }}" class="btn btn-secondary" role="button">OK</a>
      </div>
    </div>
  </div>
</div>
		     
     
    </div>
  {% endfor %}
<!-- </div> -->
<script>
$("a").prop(disabled, true);
</script>
{% endblock %}
