{% extends 'base.html.twig' %}

{% block title %}Affichage des groupes{% endblock %}

{% block main %}
<div id="tab">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Premon</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Selectionner</th>
                    </tr>
                </thead>
                <tbody>
                {% for g in  lsGroupe.getIdgr %}
                <tr>
					<td>
					{% for etu in g.getNetu %}
						{{etu.getNetu}}
					{% endfor %}
					</td>
					
					
				</tr>
					{% endfor %}
                    
                </tbody>
            </table>
        </div>
</div>


{% endblock %}
