{% extends 'base.html.twig' %}

{% block title %}changer le mot de passe{% endblock %}

{% block main %}
{% block stylesheets %}
   <link rel="stylesheet" href="{{ '/css/mdp.css' }}"/>

{% endblock %}

{% for msg in app.session.flashBag.get('success') %}
  <div class="alert alert-success">
    {{ msg }}
  </div>
{% endfor %}

{% for msg in app.session.flashBag.get('danger') %}
  <div class="alert alert-danger">
    {{ msg }}
  </div>
{% endfor %}
<div class="flex">
<div class="form1 background">
{{ form_start(form) }}
<label>Votre ancien mot de passe</label>
{{ form_widget(form.oldpassword) }}
<label>Nouveau mot de passe</label>
{{ form_widget(form.mdpSaisie1) }}
<label>Confirmation</label>

{{ form_widget(form.mdpSaisie2) }}
<div class="boutton">
{{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}

</div>
<div class="form2 background">
{{ form_start(form2) }}
<label>Votre Prenom</label>
{{ form_widget(form2.name) }}
<label>Votre Nom</label>     
{{ form_widget(form2.surname) }}
<div class="boutton">
{{ form_widget(form2.submit2) }}
</div>
{{ form_end(form2) }}
</div>

<script>
  document.getElementById("form_name").value = "{{ app.user.getIdpers().getPrenom() }}";
  document.getElementById("form_surname").value = "{{ app.user.getIdpers().getNom() }}";
</script>

{% endblock %}