{% extends 'base.html.twig' %}

{% block title %}confirmation import des etudiants{% endblock %}

{% block main %}

<style>
    input[type="radio"] {
    margin-right: 10px;
    margin-left: 10px;
    }
    select {
    margin: 10px;
    }
    input {
    margin: 10px;
    }
</style>

{{ form_start(form) }}
<label>Nom de l'étudiant</label>
{{ form_widget(form.nom) }}
<label>Prénom de l'étudiant</label>
{{ form_widget(form.prenom) }}
<label>Email de l'étudiant</label>
{{ form_widget(form.email) }}
<label>Methode de saisie de la classe</label>
{{ form_widget(form.type) }}
{{ form_widget(form.classeCT) }}
{{ form_widget(form.classeTT) }}
<label>Email de l'étudiant</label>
{{ form_widget(form.annee) }}
{{ form_widget(form.submit) }}
{{ form_end(form) }}

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        $("input[name='form[type]']").change(radioValueChanged);
    })

    function radioValueChanged()
    {
        radioValue = $(this).val();

        if($(this).is(":checked") && radioValue == "Par le CSV")
        {
            $("#form_classeCT").show();
            $("#form_classeTT").hide();
            $("#form_classeCT").prop("required", true);
            $("#form_classeTT").prop("required", false);
        }
        else if ($(this).is(":checked") && radioValue == "Par saisie")
        {
            $("#form_classeCT").hide();
            $("#form_classeTT").show();
            $("#form_classeCT").prop("required", false);
            $("#form_classeTT").prop("required", true);
        }
        else
        {
            $("#form_classeCT").hide();
            $("#form_classeTT").hide();
            $("#form_classeCT").prop("required", false);
            $("#form_classeTT").prop("required", false);
        }
    }
</script>
{% endblock %}

