{% extends 'base.html.twig' %}

{% block title %}generation des classe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/generation.css' }}"/>
{% endblock %}

{% block main %}
<div id="tab">
    {{ form_start(form) }}
    <div class="form-group row">
             <label for="form_nomvend">Nombre d'édudiant par Groupe</label>
               {{ form_widget(form.nbGroupe) }}
         </div>
        <div class="table-responsive tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                    
                        <th scope="col" data-toggle="tooltip" title="Hooray!  b">Groupe</th>
                        <th scope="col">Selectionner</th>
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.classe %}
                        {% set id = id + 1 %}
                        <tr>
                            <td>{{lsClasse[id].classe}}</td>
                            <td>{{ form_widget(child) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
