{% extends 'base.html.twig' %}

{% block title %}generation des groupes{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/scrollbar.css' }}"/>
{% endblock %}

{% block main %}
<div id="tab">
    {{ form_start(form) }}
		<div class="stat">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    
                        <th scope="col" data-toggle="tooltip" title="Hooray!  b">Groupe</th>
                        <th scope="col">Selectionner</th>
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.idgr %}
                        {% set id = id + 1 %}
                        <tr>
                            <td>{{lsGroupe[id].getNomgroupe}}</td>
                            <td>{{ form_widget(child) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}

