{% extends 'base.html.twig' %}

{% block title %}import etudiant{% endblock %}

{% block main %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/objet.css' }}"/>
{% endblock %}

<div class="row">
  <div class="col-sm-6">
    {{ form_start(form) }}
    <div class="card background">
      <div class="card-body">
        <h5 class="card-title">Importation de plusieurs étudiants</h5>
        <p class="card-text">
          {{ form_widget(form.etuCSV) }}
        </p>
        {{ form_widget(form.save) }}
      </div>
    </div>
    {{ form_end(form) }}
  </div>
  <div class="col-sm-6">
    <div class="card background">
      <div class="card-body">
        <h5 class="card-title">Ajout d'un étudiant</h5>
        <p class="card-text">
        {{ form_start(form2) }}  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nom</label>
              {{ form_widget(form2.nom) }}
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Prenom</label>
              {{ form_widget(form2.prenom) }}
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Email</label>
            {{ form_widget(form2.email) }}
          </div>
          <div class="form-group">
            <label for="inputAddress2">Classe</label>
            {{ form_widget(form2.classe) }}
          </div>
          <div class="form-group">
              <label for="inputCity">Date de promotion</label>
              {{ form_widget(form2.datec) }}
          </div>
        </p>   
        {{ form_widget(form2.ajouter) }}
        </a>
      </div>
    </div>
    {{ form_end(form2) }}
  </div>
</div>

{% for msg in app.session.flashBag.get('success') %}
  <div class="alert alert-success">
    {{ msg }}
  </div>
{% endfor %}

{% endblock %}

