{% extends 'base.html.twig' %}

{% block title %}gestion des devoirs{% endblock %}
{% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('css/updateDevoir.css') }}" />

{% endblock %}

{% block main %}



<h2>{{devoir.getNomdev}}</h2>
<div class="background marge block1">
  <div class="card-header separation">Modifier le devoir</div>
   <div class="card-body text-secondary">
       {{ form_start(form1) }}
			<div class="form-group row">
               <label for="form_nomvend">Nom Du Devoir</label>
               {{ form_widget(form1.nomDev) }}
           </div>
           <div class="form-group row">
               <label for="form_nomvend">Date de fin</label>
               {{ form_widget(form1.date) }}
           </div>
        {{ form_widget(form1.save) }}     
       {{ form_end(form1) }}
        </div>
    </div>
<div class="background marge block1" >
  <div class="card-header separation">Modifier les groupes du devoir</div>
   <div class="card-body text-secondary">
       {{ form_start(form) }}
			<div class="form-group row">
               <label for="form_nomvend">Ajouter un groupe</label>
                {{ form_widget(form.GroupeParDevoir) }} 
				{{ form_widget(form.ajouter) }} 
           </div>
           <div class="form-group row">
               <label for="form_nomvend">Supprimer un groupe</label>
               {{ form_widget(form.GroupeDevoir) }}     
			   {{ form_widget(form.supprimer) }}
           </div>  
       {{ form_end(form) }}
        </div>
    </div>

 <script>
	console.log("hello");
	document.getElementById("form_nomDev").value="{{devoir.getNomdev}}";
	document.getElementById("form_date").value="{{ devoir.getDate|date('Y-m-d') }}";
	console.log();
	
 </script>


{% endblock %}
