{% extends 'base.html.twig' %}

{% block title %}gestion des énigmes{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('enseignant/imgareaselect-default.css') }}"/>
    <link rel="stylesheet" href="{{ asset('enseignant/design.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/gestionTab4.css') }}" />

{% endblock %}

{% block main %}
<div id="tab">
    {{ form_start(form) }}
        <div class="table-responsive tab2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Selectionner</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Question</th>
                        <th scope="col">Solution</th>
                        <th scope="col">Niveau</th>
                        <th scope="col">MaxPoint</th>
                        <th scope="col">Matiere</th>
                        <th scope="col">Modification</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.idenigme %}
                        {% set id = id + 1 %}
                        <tr>
                            <td>{{ form_widget(child) }}</td>
                            <td>{{ lsEnigme[id].getNomenigme }}</td>
                            <td>{{ lsEnigme[id].getQuestion }}</td>
                            <td>{{ lsEnigme[id].getSolution }}</td>
                            <td>{{ lsEnigme[id].getNiveau.getNiveau }}</td>
                            <td>{{ lsEnigme[id].getMaxpoint }}</td>
                            <td>{{ lsEnigme[id].getIdmat.getNommat }}</td>
                            <td><a href="/enseignant/enigme/update/{{ lsEnigme[id].getidenigme }}" class="btn btn-primary" role="button">Modifier</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.delete) }}
    {{ form_widget(form.ajout) }}
    {{ form_end(form) }}
</div>

    
{% endblock %}
