
.tab{
    border-radius: 10px;
background-color: #040404cc;
color: white;
margin: 30px;
padding: 20px;

display: block;
max-height: 500px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;

}
