thead, tbody, tr, td, th { display: block; }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    tbody {
        height: 400px;
        overflow-y: auto;
    }

    tbody td, thead th {
        width: 12%;
        float: left;
    }
.tab2{
    border-radius: 10px;
background-color: #040404cc;
color: white;
margin: 10px;
padding: 20px;



-ms-overflow-style: -ms-autohiding-scrollbar;

}

