.background{
    background-color: #040404cc;
    -webkit-border-radius: 10px;
 
}

.flex{
    display: flex;
}

.form1{
    margin-left: 10%;
    padding: 2%;
}


.form2{
    margin-left: 15%;
    padding: 2%;
}

.boutton{
    margin-top: 5%;
    margin-left: 30%;
}