.background{
    background-color: #040404cc;
    -webkit-border-radius: 20px;
}
.separation{
    border-bottom-color: white;
}
.marge{
    margin:20px;
}
.block1{
    max-width: 100rem; margin: 20px;
    color : white;
}

label{
    color: white;
}