{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
{% if app.user.getIdpers() is not defined %}
    <h1>Connexion etudiant</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
        <label for="inputnetu" class="sr-only">Email</label>
        <input type="text" value="{{ last_username }}" name="emailEtu" id="inputnetu" class="form-control" placeholder="Adresse email" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>
{% else %}
    <h1>Vous êtes déjà connecter !</h1>
    <p>
        Pour vous pouvez revenir à la page home en cliquant sur le lien : <a href="/etudiant">Etudiant</a>
    </p>
{% endif %}
{% endblock %}
