{% extends 'base.html.twig' %}

{% block title %}les contenants{% endblock %}

{% block main %}
<style>
div{
    color : black;
}
</style>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
        {% if image is not null %}
            <img usemap="#contenant" src="{{ asset('picsStorage/objets/'~image) }}" width="500" height="500">
        {% else %}
            <img usemap="#contenant" src="{{ asset('enseignant/img/objectview.png') }}" width="500" height="500">
        {% endif %}
            <map name="contenant" id="contenant">
                {% for obj in contenu %}
                    <area shape="rect" coords="{{ obj.coordobjet2 }}" href="/etudiant/partie/{{ iddm }}/{{ idc }}/{{ obj.idobjetInferieur }}" alt="Contact" />
                {% endfor %}
            </map>
        </div>

        <div class="d-flex flex-column" style="margin-left:10px">
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/etudiant/partie/{{ iddm }}'">Revenir à la piece</button>
        </div>
    </div>

    
{% endblock %}