{% extends 'base.html.twig' %}

{% block title %}Cadena{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/partie.css' }}"/>
{% endblock %}
{% block main %}
<style>

</style>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <h2 class="text-blanc">{{ dm.getNote }} points</h2>
            {% if image is not null %}
            <img usemap="#piece" src="{{ asset('picsStorage/'~image) }}" width="500" height="500">
            {% else %}
            <img usemap="#piece" src="{{ asset('enseignant/img/roomview.png') }}" width="500" height="500">
            {% endif %}
            <map name="piece" id="piece">
                {% for s in salle %}
                    {% if s.type == 'cadena' %}
                    <area shape="rect" coords="{{ s.coordobjet }}" href="#" type="button" data-toggle="modal" data-target="#cadena" alt="Contact" />
                    {% else %}
                    <area shape="rect" coords="{{ s.coordobjet }}" href="/etudiant/partie/{{ dm.getIddm }}/{{ s.idobjet }}" alt="Contact" />
                    {% endif %}
                {% endfor %}
            </map>
        </div>

        <div class="d-flex flex-column" style="margin:10px;">

        {% if cadena.getNbessai > 1 %}
            <h3 class="text-blanc">
                {{ cadena.getNbessai }} / {{ cadena.getNbessaimax }} tentatives
            </h3>
        {% else %}
            <h3 class="text-blanc">
                {{ cadena.getNbessai }} / {{ cadena.getNbessaimax }} tentative
            </h3 class="text-blanc">
        {% endif %}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            Voir la carte des pieces
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Carte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column" style="margin:10px">
                            {% for s in allRoom %}
                            <div class="d-flex flex-row" style="margin:10px">
                                {% if idSalleCourant == s.getIdsalle %}
                                    <h3 style="margin-right:10px; color:blue">{{ s.getNomsalle }}</h3>
                                {% else %}
                                    <h3 style="margin-right:10px">{{ s.getNomsalle }}</h3>
                                {% endif %}
                                {% if s.getImagesalle is not null %}
                                    <img class="img-fluid"  src="{{ asset('picsStorage/'~s.getImagesalle) }}" >
                                {% else %}
                                    <img class="img-fluid" src="{{ asset('enseignant/img/roomview.png') }}">
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        
        {% if autoriser %}
        <div class="alert alert-warning" role="alert" style="margin:20px">
                Il n'y a aucun cadena trouver ici !
        </div>
        {% else %}
        <div class="modal fade" id="cadena" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Le cadena</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if error is defined and error_type is defined %}
            <div class="alert alert-{{ error_type }}" role="alert">
                {{ error }}
            </div>
        {% endif %}
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ (1/nbSalle)*100 }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    
{% endblock %}