{% extends 'base.html.twig' %}

{% block title %}changer le mot de passe{% endblock %}

{% block main %}

{% for msg in app.session.flashBag.get('success') %}
  <div class="alert alert-success">
    {{ msg }}
  </div>
{% endfor %}

{% for msg in app.session.flashBag.get('danger') %}
  <div class="alert alert-danger">
    {{ msg }}
  </div>
{% endfor %}

{{ form_start(form) }}
<label>Votre ancien mot de passe</label>
{{ form_widget(form.oldpassword) }}
<label>Nouveau mot de passe</label>
{{ form_widget(form.mdpSaisie1) }}
<label>Confirmation</label>
{{ form_widget(form.mdpSaisie2) }}
{{ form_end(form) }}
{% endblock %}