{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ '/etudiant2.css' }}"/>
{% endblock %}

{% block main %}
<h1>Bienvenue {{ app.user.idpers.prenom }} voici la liste de vos parties </h1>

{% for msg in app.session.flashBag.get('success') %}
  <div class="alert alert-success">
    {{ msg }}
  </div>
{% endfor %}

{% for msg in app.session.flashBag.get('danger') %}
  <div class="alert alert-primary">
    {{ msg }}
  </div>
{% endfor %}

<div class="d-flex flex-wrap" id="tableauDevoirs">
  {% for dm in listeDevoir %}
    <div class="matiere col-3">
	  <h3> Partie  {{ dm['nomdev']}} </h3>
      <h4> {{ dm['nommat']}}</h4>
      
      
      {% if dm['statut'] =="En cours" and dm['date'] >  "now"|date("Y-m-d") %}
        <p> En cours jusqu'au {{ dm['date']}}</p>
        <button onclick="location.href='/etudiant/partie/{{ dm['iddm'] }}'" type="button" class="btn btn-info"> Rejoindre </button>
        <div class="tag tag-green col-1"> </div>
      {% else %}

        {% if dm['statut'] =="En verification" %}
          <p> En verification...</p>
          <div class="tag2 tag-orange col-1"> </div>
        {% else %}

          <p> Fini le {{ dm['date']}}</p>
          <div class="tag3 tag-red col-1"> </div>
        {% endif %}

      {% endif %}
      </div>
    {% endfor %}
</div>

{% endblock %}
