{% extends 'base.html.twig' %}

{% block title %}Profil de {{ controller_name }}{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/css/etudiant.css' }}"/>
{% endblock %}
{% block main %}

<section>
    <div id="infosEtu">
        <h1><b>Nom:</b>   {{ app.user.idpers.nom }}</h1> 
        <h1><b>Prenom:</b>   {{ app.user.idpers.prenom }}</h1> 
        <h1><b>Email:</b>   {{ app.user.idpers.email }}</h1> 
        <h1><b>Classe:</b>   {{ app.user.classe }}</h1> 
    </div>
    <div id="tableauDM">
      <table class="fixed_header">
        <thead>
          <tr>
            <th class="petit">Groupe</th>
            <th class="grand">Membres</th>
            <th class="petit">Note</th>
            <th class="petit">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for dm in listeDm %}
          <tr>
            <td class="petit">{{dm['nomGroupe']}}</td>
            <td>
            {% for grp in listeEleveGrp %}
            {% if dm['idgr'] == grp[0]['idgr'] %}
            {% for eleve in grp %}
            {{ eleve.nom }},
            {% endfor %}
            {% endif %}
            {% endfor %}
            </td>
            <td class="petit">{{dm['note']}}</td>
            <td class="petit">{{dm['datec']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
</section>
{% endblock %}
