{% extends 'base.html.twig' %}

{% block title %}supprimer objet{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ '/css/removeObjet.css' }}"/>
{% endblock %}
{% block main %}
<div id="tab">
    {{ form_start(form) }}
        <div class="table-responsive tab">
            <table class="table table-hover">
                <thead>
                    <tr>
						<th scope="col">Selectionner</th>
                        <th scope="col">Nom de l'objet</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% set id = -1 %}
                    {% for child in form.idobjet %}
                        {% set id = id + 1 %}
                        <tr>
							<td>{{ form_widget(child) }}</td>
                            <td>{{ lsCat[id].getNomobjet }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}
